# 1. Importação de Bibliotecas

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
plt.style.use('seaborn-v0_8-notebook')

# 2. Leitura do CSV

In [18]:
df = pd.read_csv("/mnt/c/Users/AcerGamer/Downloads/Tuberculose/Projeto-Tuberculose/dados/arquivos_csv/dados_tuberculose_completos.csv", encoding="latin1", low_memory=False)  # ou 'utf-8' se não tiver acentuação errada
df.head()

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_DIAG,ANO_NASC,NU_IDADE_N,...,BENEF_GOV,AGRAVDROGA,AGRAVTABAC,TEST_MOLEC,TEST_SENSI,ANT_RETRO,BAC_APOS_6,TRANSF,UF_TRANSF,MUN_TRANSF
0,2,A169,20200930,2020,15,150650,148.0,20200930,2009.0,4011.0,...,9.0,2.0,2.0,5.0,NaN,NaN,NaN,2.0,15,15.0
1,2,A169,20200710,2020,15,150530,149.0,20200707,1973.0,4046.0,...,2.0,2.0,2.0,5.0,NaN,NaN,3,NaN,NaN,NaN
2,2,A169,20201203,2020,22,220770,186.0,20201119,1955.0,4065.0,...,1.0,2.0,2.0,5.0,NaN,NaN,NaN,2.0,22,22.0
3,2,A169,20200210,2020,24,240920,141.0,20200208,1960.0,4059.0,...,2.0,2.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2,A169,20210114,2021,43,430210,160.0,20201226,1984.0,4035.0,...,9.0,2.0,1.0,5.0,NaN,NaN,3,NaN,NaN,NaN

# 3. Verificar Qualidade dos Dados

### a. Ver estrutura básica

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502271 entries, 0 to 502270
Data columns (total 97 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   TP_NOT      502271 non-null  int64
 1   ID_AGRAVO   502271 non-null  object
 2   DT_NOTIFIC  502271 non-null  int64
 3   NU_ANO      502271 non-null  int64
 4   SG_UF_NOT   502271 non-null  int64
 5   ID_MUNICIP  502271 non-null  int64
 6   ID_REGIONA  297899 non-null  float64
 7   DT_DIAG     502271 non-null  int64
 8   ANO_NASC    500066 non-null  float64
 9   NU_IDADE_N  502068 non-null  float64
 10  CS_SEXO     502271 non-null  object
 11  CS_GESTANT  502222 non-null  float64
 12  CS_RACA     492687 non-null  float64
 13  CS_ESCOL_N  463257 non-null  float64
 14  SG_UF       502271 non-null  int64
 15  ID_MN_RESI  502271 non-null  int64
 16  ID_RG_RESI  296327 non-null  float64
 17  ID_PAIS     389768 non-null  float64
 18  NDUPLIC_N   48911 non-null   float64
 19  IN_VINCULA  45987 non-null   float64
 20  DT_DIGITA   389768 non-null  float64
 21  DT_TRANSUS  28183 non-null   float64
 22  DT_TRANSDM  8600 non-null    float64
 23  DT_TRANSSM  274346 non-null  float64
 24  DT_TRANSRM  0 non-null       float64
 25  DT_TRANSRS  9054 non-null    float64
 26  DT_TRANSSE  179847 non-null  float64
 27  CS_FLXRET   0 non-null       float64
 28  FLXRECEBI   0 non-null       float64
 29  MIGRADO_W   3 non-null       object
 30  ID_OCUPA_N  9 non-null       object
 31  TRATAMENTO  502271 non-null  int64
 32  INSTITUCIO  30 non-null      float64
 33  RAIOX_TORA  492444 non-null  float64
 34  TESTE_TUBE  36 non-null      object
 35  FORMA       502083 non-null  float64
 36  EXTRAPU1_N  73038 non-null   object
 37  EXTRAPU2_N  675 non-null     object
 38  EXTRAPUL_O  7210 non-null    object
 39  AGRAVAIDS   493183 non-null  float64
 40  AGRAVALCOO  493659 non-null  float64
 41  AGRAVDIABE  492945 non-null  float64
 42  AGRAVDOENC  491279 non-null  float64
 43  AGRAVOUTRA  336314 non-null  object
 44  AGRAVOUTDE  41390 non-null   object
 45  BACILOSC_E  502105 non-null  float64
 46  BACILOS_E2  47 non-null      float64
 47  BACILOSC_O  112531 non-null  object
 48  CULTURA_ES  502105 non-null  float64
 49  CULTURA_OU  89723 non-null   object
 50  HIV         500518 non-null  float64
 51  HISTOPATOL  464627 non-null  float64
 52  DT_INIC_TR  480291 non-null  float64
 53  RIFAMPICIN  19 non-null      object
 54  ISONIAZIDA  23 non-null      object
 55  ETAMBUTOL   15 non-null      float64
 56  ESTREPTOMI  15 non-null      object
 57  PIRAZINAMI  16 non-null      object
 58  ETIONAMIDA  16 non-null      object
 59  OUTRAS      19 non-null      object
 60  OUTRAS_DES  6 non-null       object
 61  TRAT_SUPER  94 non-null      object
 62  NU_CONTATO  482856 non-null  float64
 63  DOENCA_TRA  38 non-null      object
 64  SG_UF_AT    500269 non-null  object
 65  ID_MUNIC_A  500265 non-null  float64
 66  DT_NOTI_AT  303145 non-null  float64
 67  SG_UF_2     386232 non-null  float64
 68  ID_MUNIC_2  385106 non-null  float64
 69  BACILOSC_1  366803 non-null  object
 70  BACILOSC_2  342022 non-null  float64
 71  BACILOSC_3  323099 non-null  float64
 72  BACILOSC_4  305432 non-null  float64
 73  BACILOSC_5  289311 non-null  float64
 74  BACILOSC_6  273321 non-null  float64
 75  TRATSUP_AT  379003 non-null  float64
 76  DT_MUDANCA  3 non-null       float64
 77  NU_COMU_EX  408157 non-null  float64
 78  SITUA_9_M   46 non-null      float64
 79  SITUA_12_M  5 non-null       float64
 80  SITUA_ENCE  441885 non-null  float64
 81  DT_ENCERRA  438959 non-null  float64
 82  TPUNINOT    376650 non-null  float64
 83  POP_LIBER   491904 non-null  float64
 84  POP_RUA     490369 non-null  float64
 85  POP_SAUDE   490154 non-null  float64
 86  POP_IMIG    489399 non-null  float64
 87  BENEF_GOV   369596 non-null  object
 88  AGRAVDROGA  491593 non-null  float64
 89  AGRAVTABAC  491333 non-null  float64
 90  TEST_MOLEC  473377 non-null  float64
 91  TEST_SENSI  266026 non-null  object
 92  ANT_RETRO   116225 non-null  object
 93  BAC_APOS_6  136398 non-null  object
 94  TRANSF      39123 non-null   float64
 95  UF_TRANSF   25636 non-null   object
 96  MUN_TRANSF  23273 non-null   object
dtypes: float64(59), int64(9), object(29)
memory usage: 371.7+ MB

### b. Verificar valores ausentes

In [20]:
df.isnull().sum()

TP_NOT             0
ID_AGRAVO          0
DT_NOTIFIC         0
NU_ANO             0
SG_UF_NOT          0
               ...
ANT_RETRO     386046
BAC_APOS_6    365873
TRANSF        463148
UF_TRANSF     476635
MUN_TRANSF    478998
Length: 97, dtype: int64

### c. Descrição estatística (numéricas)

In [21]:
df.describe()

,TP_NOT,DT_NOTIFIC,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_DIAG,ANO_NASC,NU_IDADE_N,CS_GESTANT,...,DT_ENCERRA,TPUNINOT,POP_LIBER,POP_RUA,POP_SAUDE,POP_IMIG,AGRAVDROGA,AGRAVTABAC,TEST_MOLEC,TRANSF
count,502271.0,5.022710e+05,502271.000000,502271.000000,502271.000000,297899.000000,5.022710e+05,500066.000000,502068.000000,502222.000000,...,4.389590e+05,376650.000000,491904.000000,490369.000000,490154.000000,489399.000000,491593.000000,491333.000000,473377.000000,39123.000000
mean,2.0,2.022244e+07,2022.177000,30.933124,310867.647955,283.838851,2.022204e+07,1981.291943,4032.371609,5.805070,...,2.022487e+07,9.769627,2.028626,2.124184,2.461004,2.195256,2.168058,2.056123,3.207281,1.818342
std,0.0,1.407911e+04,1.408281,9.332982,93764.719853,547.645734,1.399008e+04,17.226368,129.976762,0.641254,...,1.353971e+04,16.953432,1.027700,1.111674,1.767201,1.178102,1.617490,1.601035,1.893064,1.119170
min,2.0,1.991042e+07,1991.000000,11.000000,110001.000000,135.000000,2.020010e+07,1904.000000,1000.000000,1.000000,...,2.020010e+07,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,2.0,2.021070e+07,2021.000000,26.000000,260370.000000,144.000000,2.021062e+07,1969.000000,4027.000000,6.000000,...,2.021110e+07,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000
50%,2.0,2.022100e+07,2022.000000,33.000000,330390.000000,149.000000,2.022092e+07,1984.000000,4038.000000,6.000000,...,2.022123e+07,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,4.000000,2.000000
75%,2.0,2.023113e+07,2023.000000,35.000000,355030.000000,159.000000,2.023111e+07,1995.000000,4052.000000,6.000000,...,2.024012e+07,5.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,5.000000,2.000000
max,2.0,2.025041e+07,2025.000000,53.000000,530010.000000,3200.000000,2.024123e+07,2025.000000,4115.000000,9.000000,...,2.027042e+07,85.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,5.000000,9.000000

### d. Valores únicos por coluna

In [22]:
df.nunique()

TP_NOT           1
ID_AGRAVO        1
DT_NOTIFIC    1950
NU_ANO          15
SG_UF_NOT       27
              ...
ANT_RETRO       21
BAC_APOS_6      15
TRANSF           6
UF_TRANSF       55
MUN_TRANSF      55
Length: 97, dtype: int64

# 4. Entender o Significado das Variáveis

In [23]:
df.rename(columns={
    'TP_NOT': 'Tipo_Notificacao',
    'ID_AGRAVO': 'Codigo_Agravo',
    'DT_NOTIFIC': 'Data_Notificacao',
    # continue conforme necessário
}, inplace=True)